<div>
  <h2 id="page-heading" data-cy="TransferHeading">
    <span jhiTranslate="imsBApp.transfer.home.title">Transfers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="imsBApp.transfer.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transfer"
        [routerLink]="['/transfer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="imsBApp.transfer.home.createLabel"> Create a new Transfer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="transfers?.length === 0">
    <span jhiTranslate="imsBApp.transfer.home.notFound">No Transfers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="transfers && transfers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tranferDate">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.tranferDate">Tranfer Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comment">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.comment">Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sourceWareHouse">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.sourceWareHouse">Source Ware House</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="destinationWareHouse">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.destinationWareHouse">Destination Ware House</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="securityUser.login">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.securityUser">Security User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="wareHouse.whName">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transfer.wareHouse">Ware House</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of transfers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transfer', transfer.id, 'view']">{{ transfer.id }}</a>
          </td>
          <td>{{ transfer.tranferDate | formatMediumDatetime }}</td>
          <td>{{ transfer.comment }}</td>
          <td jhiTranslate="{{ 'imsBApp.Status.' + transfer.status }}">{{ transfer.status }}</td>
          <td>{{ transfer.sourceWareHouse }}</td>
          <td>{{ transfer.destinationWareHouse }}</td>
          <td>{{ transfer.freeField1 }}</td>
          <td>{{ transfer.lastModified }}</td>
          <td>{{ transfer.lastModifiedBy }}</td>
          <td>
            <div *ngIf="transfer.securityUser">
              <a [routerLink]="['/security-user', transfer.securityUser.id, 'view']">{{ transfer.securityUser.login }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transfer.wareHouse">
              <a [routerLink]="['/ware-house', transfer.wareHouse.id, 'view']">{{ transfer.wareHouse.whName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transfer-details']"
                [queryParams]="{ 'filter[transferId.in]': transfer.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('imsBApp.transfer.transferDetails' | translate) }"
                  >Show Transfer Details</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/transfer-recieved']"
                [queryParams]="{ 'filter[transferId.in]': transfer.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('imsBApp.transfer.transferRecieved' | translate) }"
                  >Show Transfer Recieved</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/transfer-details-approvals']"
                [queryParams]="{ 'filter[transferId.in]': transfer.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('imsBApp.transfer.transferDetailsApprovals' | translate) }"
                  >Show Transfer Details Approvals</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/transfer', transfer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transfer', transfer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transfer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transfers && transfers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
