<div>
  <h2 id="page-heading" data-cy="TransferRecievedHeading">
    <span jhiTranslate="imsBApp.transferRecieved.home.title">Transfer Recieveds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="imsBApp.transferRecieved.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transfer-recieved"
        [routerLink]="['/transfer-recieved/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="imsBApp.transferRecieved.home.createLabel"> Create a new Transfer Recieved </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="transferRecieveds?.length === 0">
    <span jhiTranslate="imsBApp.transferRecieved.home.notFound">No Transfer Recieveds found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="transferRecieveds && transferRecieveds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transferDate">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.transferDate">Transfer Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="qtyTransfered">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.qtyTransfered">Qty Transfered</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="qtyReceived">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.qtyReceived">Qty Received</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comment">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.comment">Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.isDeleted">Is Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.isActive">Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="securityUser.login">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.securityUser">Security User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transfer.id">
            <div class="d-flex">
              <span jhiTranslate="imsBApp.transferRecieved.transfer">Transfer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transferRecieved of transferRecieveds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transfer-recieved', transferRecieved.id, 'view']">{{ transferRecieved.id }}</a>
          </td>
          <td>{{ transferRecieved.transferDate | formatMediumDatetime }}</td>
          <td>{{ transferRecieved.qtyTransfered }}</td>
          <td>{{ transferRecieved.qtyReceived }}</td>
          <td>{{ transferRecieved.comment }}</td>
          <td>{{ transferRecieved.freeField1 }}</td>
          <td>{{ transferRecieved.lastModified }}</td>
          <td>{{ transferRecieved.lastModifiedBy }}</td>
          <td>{{ transferRecieved.isDeleted }}</td>
          <td>{{ transferRecieved.isActive }}</td>
          <td>
            <div *ngIf="transferRecieved.securityUser">
              <a [routerLink]="['/security-user', transferRecieved.securityUser.id, 'view']">{{ transferRecieved.securityUser.login }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="transferRecieved.transfer">
              <a [routerLink]="['/transfer', transferRecieved.transfer.id, 'view']">{{ transferRecieved.transfer.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transfer-recieved', transferRecieved.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transfer-recieved', transferRecieved.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transferRecieved)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transferRecieveds && transferRecieveds.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
